@page
@model CartModel
@{
}


<div>
    @foreach (var product in Model.Cart.ProductViewModels)
    {
        <p>@product.Name</p>
        <p>@product.ValueToShow</p>
        <p>@product.Qty</p>
        <p>@product.StockId</p>
        <hr />
    }
    <label>Total sum: @Model.Cart.TotalPrice</label>
    <label><a asp-page="/Checkout/Payment">Payment page</a></label>
</div>


@*<vc:cart view="Default"> </vc:cart>

<hr />
        it's a different way to address this componenet
    <vc:cart view="Small"></vc:cart>@*possible due to the link to Shop.UI at _ViewImports.cshtml. not working*@


await @Component.InvokeAsync("Cart", new { view = "Small" })