@page
@model CartModel
@{
}


<div>
    @foreach (var product in Model.Cart)
    {
        <p>@product.Name</p>
        <p>@product.Value</p>
        <p>@product.Qty</p>
        <p>@product.StockId</p>
        <hr />
    }
</div>


@*<vc:cart view="Default"> </vc:cart>

<hr />
        it's a different way to address this componenet
    <vc:cart view="Small"></vc:cart>@*possible due to the link to Shop.UI at _ViewImports.cshtml. not working*@


await @Component.InvokeAsync("Cart", new { view = "Small" })